#----------
# Prologue
#----------
 PROBLEM_NAME              cavity
 HEAT_TRANSFER             yes 
 BUOYANCY                  thermal density
 TIME_STEP                 0.00001
# TIME_STEP                0.01        ! Primary flow time step

 NUMBER_OF_TIME_STEPS                        9500000
 STARTING_TIME_STEP_FOR_SWARM_COMPUTATION    300010
 RESULTS_SAVE_INTERVAL                       1000000
 SWARM_SAVE_INTERVAL                         1000000
 BACKUP_SAVE_INTERVAL                        2000000
 STARTING_TIME_STEP_FOR_TURB_STATISTICS      75000
 #LOAD_BACKUP_NAME                            cavity-ts300000.backup

#-------------------
# Monitoring points 
#-------------------
 NUMBER_OF_MONITORING_POINTS    1
   MONITORING_POINT_004         0.35  0.35  0.35

 POINT_FOR_MONITORING_PLANES    0.5  0.1  0.75

#-----------------
# Physical models
#-----------------

 GRAVITATIONAL_VECTOR   0.0  0.0  -0.022353

 # Properties based on Pr and Ra numbers:
 # Pr = 0.71
 # Ra = 10e9
 
# TURBULENT_PRANDTL_NUMBER  0.71  
 
 MASS_DENSITY                   1.225
 HEAT_CAPACITY                  1.0
 DYNAMIC_VISCOSITY              1.789e-5
 THERMAL_CONDUCTIVITY           3.0867e-5
 VOLUME_EXPANSION_COEFFICIENT   1.0

 TURBULENCE_MODEL               LES_DYNAMIC

#----------------
# Swarm related
#----------------
 MULTIPHASE_MODEL                              lagrangian_particles
 PARTICLE_TRACKING                             yes
# SWARM_SUBGRID_SCALE_MODEL                    brownian_fukagata
 SWARM_DIAMETER                                1.0E-06     
 SWARM_DENSITY                                 2000.0
 NUMBER_OF_SWARM_SUB_STEPS                     1
 NUMBER_OF_PARTICLES                           50000
 SWARM_COEFFICIENT_OF_RESTITUTION              0.0 
 SWARM_THERMAL_CONDUCTIVITY                    1.38
 THERMOPHORESIS                                no
 SWARM_GRAVITY                                 yes

#----------------------
# Numerical parameters
#----------------------

 PRESSURE_MOMENTUM_COUPLING    simple

 SIMPLE_UNDERRELAXATION_FOR_MOMENTUM      0.7
 SIMPLE_UNDERRELAXATION_FOR_ENERGY        0.5
 SIMPLE_UNDERRELAXATION_FOR_PRESSURE      0.5
 SIMPLE_UNDERRELAXATION_FOR_TURBULENCE    0.5

# TIME_INTEGRATION_SCHEME  linear
 TIME_INTEGRATION_SCHEME  parabolic

 ADVECTION_SCHEME_FOR_MOMENTUM        CENTRAL
 ADVECTION_SCHEME_FOR_MOMENTUM        SMART
 ADVECTION_SCHEME_FOR_TURBULENCE      SMART

#------------------------
# Linear solver settings
#------------------------
 PRECONDITIONER_FOR_SYSTEM_MATRIX   incomplete_cholesky

 TOLERANCE_FOR_MOMENTUM_SOLVER        1.e-4
 TOLERANCE_FOR_ENERGY_SOLVER          1.e-4
 TOLERANCE_FOR_TURBULENCE_SOLVER      1.e-4
 TOLERANCE_FOR_PRESSURE_SOLVER        1.e-5
 TOLERANCE_FOR_SIMPLE_ALGORITHM       1.e-4
 MAX_ITERATIONS_FOR_PRESSURE_SOLVER   520

 REFERENCE_TEMPERATURE                   330.54
 REFERENCE_DENSITY                       1.225
 TURBULENT_HEAT_FLUX_MODEL               SGDH
 #TURBULENT_HEAT_FLUX_MODEL              afm
.
#--------------------
# Initial conditions
#--------------------
  INITIAL_CONDITION
    VARIABLES           u     v     w     t        kin    eps     zeta   f22   t2
    VALUES              0.0   0.0   0.0   310.71   0.005  0.001   0.1    0.1   0.5

#---------------------
# Boundary conditions
#---------------------
  BOUNDARY_CONDITION    adiabatic_wall
    TYPE                wall
    VARIABLES           u     v     w     q
    VALUES              0.0   0.0   0.0   0.0

  BOUNDARY_CONDITION    bottom_wall
    TYPE                wall
    VARIABLES           x     u     v     w     t
#    VARIABLES           x     t
    FILE                bottom.dat   

  BOUNDARY_CONDITION    top_wall
    TYPE                wall
    VARIABLES           x     u     v     w     t
#    VARIABLES           x     t
    FILE                top.dat   

  BOUNDARY_CONDITION    hot_wall
    TYPE                wall
    VARIABLES           u     v     w     t
    VALUES              0.0   0.0   0.0   330.54

  BOUNDARY_CONDITION    cold_wall
    TYPE                wall
    VARIABLES           u     v     w     t
    VALUES              0.0   0.0   0.0   291.36
